@import './variables.scss';
@import './sidebar.scss';

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
  color: #2c3e50;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

span.tips {
  display: block;
  line-height: 1em;
  margin-top: 5px;
  color: #999999;
}
.el-card{
  border: 0;
  margin: 10px;
  .el-card__header{
    border-bottom-color: #f5f5f5;
    font-size: 0.9rem;
    font-weight: 600;
  }
}
.chartCard .el-card__body {
  padding: 0 20px;
  height: 260px;
}

.el-table{
  border: 1px solid #eeeeee;
  border-bottom: 0px;
  th {
    background: #f5f5f5;
  }

}
.el-table::before{
  height: 0;
}

.table{
  width: 100%;
  font-size: 0.8rem;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  border-spacing: 0;
  th{
    font-weight: normal;
    text-align: left;
    background-color: #f5f5f5;
  }
  th,td{
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    padding: 0 10px;
    line-height: 2rem;
  }
  td{
    color: #999999;

  }
}

.basicInfo{
  img{
    width: 46px;
    float: left;
    margin: 10px 20px 10px 0;
  }
  h4{margin:5px;margin-bottom: 10px;}

}

.nodeNumMark{
  display: inline-block;
  >div{
    margin-right:20px;
    padding: 5px 20px;
    width: 300px;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    line-height: 2rem;
    padding-bottom: 20px;
    p{
      margin: 0;
      text-align: left;
      margin-bottom: 10px;
    }

  }
  // height: 40px;

  .green{
    background-color: #00d9a611;
    border-left: 3px solid #00d9a6;
  }
  .blue{
    background-color: #419eff11;
    border-left: 3px solid #419eff;
  }
  .bigNum{
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 5px 0 0;
    line-height: 40px;
  }
}
// formData style
.formData{
  border: 0;
  margin: 15px 0;
  margin-bottom: 30px;
  td{
    border:0;
  }
  td:nth-child(odd){
    font-weight: bold;
  }
}

// button group
.button-group{
  width: 100%;
  .el-button{
    margin-right: 20px;
  }
}

// .el-dialog{
//   .el-form-item {
//     margin-bottom: 10px;
//   }
// }

.login-container{
  height: 100%;
  overflow: hidden;
  background-color: #f7f7f7;
  .headerBg{
    background-color: #ffffff;
  }
  .el-header{
    // width: 100;
    margin-top: 0;
    padding: 20px;
    margin-bottom: 70px;
  }

}
.el-header{
  min-width: 800px;
  width: 86%;
  max-width: 1200px;
  margin: 0 auto;
  // padding: 0;
  height: 110px;
  margin-top: 20px;
  overflow: hidden;

}
.el-header .title {
  display: block;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 30px;
  color: #333333;
  margin: 0 10px;
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #333333;
}
.logoImg{
  height: 50px;
  margin: 10px 0;
  margin-bottom: 0;
  float: left;
}

.insideFloatRight {
  float: right;
}
.el-header .insideFloatRight{
  padding-top: 15px;
  // padding-bottom: 15px;
  a{
    float: right;
    line-height: 40px;
    margin-left: 20px;
    .search{
      // float: right;
      width: 200px;
      height: 40px;
      display: none;
    }
  }
}