// base color
$blue:#419EFF;
$light-blue:#419EFF;
$red:#C03639;
$pink: #e65d5d;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#ffa500;
$panGreen: #0DBEAE;

// sidebar
$menuText:#303133;
$menuActiveText:#419EFF;
$subMenuActiveText:#303133; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;
$menuHover:#ecf5ff;

$subMenuBg:#ffffff;
$subMenuHover:#ecf5ff;

$sideBarWidth: 170px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
