@font-face {
  font-family: 'DISPLAY FREE TFB'; /* 重命名字体名 */
  src: url('DISPLAY FREE TFB.ttf'); /* 引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PangMenZhengDao'; /* 重命名字体名 */
  src: url('PangMenZhengDao.ttf'); /* 引入字体 */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceHanSansCN'; /* 重命名字体名 */
  src: url('SourceHanSansCN.otf'); /* 引入字体 */
  font-weight: normal;
  font-style: normal;
}
